.heading
{
    font-size: 15px;
    width: 100%;
    margin: 0px;
    color: black;
}

#playSong
{
    background-color: #71C9CE;
    color: black;
}

body
{
    background-size: cover;
}

.note
{
    font-size: 15px;
    color: black;
}
